/* Color Scheme Palletes*/
.bg-1{
	background-color:#fff;
}
.bg-2{
	background-color:#fff;
}
.bg-3{
	background-color:#fff;
}
.bg-4{
	background-color:#fff;
}
.bg-5{
	background-color:#fff;
}
.bg-6{
	background-color:#fff;
}
.bg-7{
	background-color:#fff;
}

.bg-8{
	background-color:#fff;
}

/* Font color scheme */
.color-1{
	color:#fff;
}
.color-2{
	color:#fff;
}
.color-3{
	color:#fff;
}
.color-4{
	color:#fff;
}
.color-5{
	color:#fff;
}
.color-6{
	color:#fff;
}
.color-7{
	color:#fff;
}
.color-8{
	color:#fff;
}