.slick-initialized .swipe-tab-content {
  position: relative;
  min-height:85.7vh;
}


@media screen and (min-width: 767px) {
  .slick-initialized .swipe-tab-content {
   min-height:90%;
  }
}
.slick-initialized .swipe-tab {
	font-family: 'Josefin Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background: #fff;
  border: 0;
  color: #6c6c6c;
  cursor: pointer;
  text-align: center;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top:16px;
  font-size:6pt;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:0.1pt;
}
.slick-initialized .swipe-tab:hover {
  color: #6c6c6c;
  text-decoration:underline;
  font-weight: bold;
}
.slick-initialized .swipe-tab.active-tab {
  /* border-bottom-color: #000; */
  color: #6c6c6c;
  text-decoration:underline;
  font-weight: bold;
}

.main-container {
  background: #f1f1f1;
}

.slick-list{
	padding:0 !important;

}
